.popup__job_error {
  /* position: absolute; */
  /* top: 195px; */
  width: 362px;
  /* left: 36px; */
  display: none;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: red;
  padding-top: 5px;
  min-height: 30px;
  border-top: 1px;
  border-top-style: solid;
  border-color: #ff0000;
}


@media (min-width: 320px) and (max-width: 600px) {
  .popup__job_error {
    top: 205px;
    width: 238px;
    left: 22px;
  }
}
