/* .popup {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.8s ease-out;
  position: relative;
  z-index: 5;
}

.popup::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 320px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
} */

.popup {

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
