.popup__text {
  padding-bottom: 8px;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  width: 358px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: rgba(0,0,0,0.2);
  align-self: flex-end;
}

@media (min-width: 320px) and (max-width: 600px) {
  .popup__text {
    width: 238px;
  }
}
