.popup__button {
  max-width: 358px;
  width: 100%;
  height: 50px;
  background-color: black;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  align-self: flex-end;
  cursor: pointer;
  margin-top: 18px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .popup__button {
    max-width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
    bottom: 25px;
    margin-top: 15px;
  }
}

.popup__button:hover {
  opacity: 80%;
}
