.element__delete {
  padding: 0;
  border: none;
  background-image: url(/images/Trash.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  width: 18px;
  height: 19px;
  cursor: pointer;
  position: relative;
  bottom: 262px;
  left: 244px;
  z-index: 1;
}

.element__delete:hover {
  opacity: 50%;
}
