.popup__container {
  box-sizing: border-box;
  margin: auto;
  background-color: white;
  z-index: 1;
  width: 430px;
  min-height: 330px;
  position: fixed;
  left: calc(50% - 215px);
  top: calc(50% - 165px);
  padding: 34px 36px 37px 36px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 23px 81px 57px 98px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
    left: calc(50% - 141px);
    top: calc(50% - 82.5px);
    padding: 25px 22px 25px 22px;
    grid-template-rows: 22px 102px 57px 91px;
  }
}
