.profile {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 168.75px 1fr 150px;
  grid-template-rows: 2fr;
  align-items: center;
  width: 100%;
  max-width: 880px;
  padding-top: 36.25px;
  padding-bottom: 47.25px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .profile {
    grid-template-areas:
    "image info add";
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas:
    "image"
    "info"
    "add";
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas:
    "image"
    "info"
    "add";
    justify-items: center;
    padding-top: 38.25px;
    padding-bottom: 36px;
  }
}

