.profile {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 2fr;
  align-items: center;
  width: 100%;
  min-width: 882px;
  padding-top: 36.25px;
  padding-bottom: 47.25px;
}

@media (min-width: 320px) and (max-width: 900px) {
  .profile {
    min-width: 240px;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas:
    "image"
    "info"
    "add";
    justify-items: center;
    padding-top: 38.25px;
    padding-bottom: 36px;
  }
}

