.header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 880px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: rgba(84, 84, 84, 0.7);
}

@media (min-width: 320px) and (max-width: 424px) {
  .header {
    margin-left: -19px;
    margin-right: -19px;
    max-width: 320px;
    width: 100vh;
  }
}
