.element__heart {
  padding: 0;
  border: none;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  width: 22px;
  height: 19px;
  cursor: pointer;
}

.element__heart:hover {
  opacity: 50%;
}

/* .element__heart:disabled {

} */

.element__heart:active {
  background-image: url(../../../images/blackheart.svg);
  opacity: 100%;
}
