.profile__title {
  margin: 0;
  padding-bottom: 16px;
  padding-right: 18px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 425px) {
  .profile__title {
    padding: 0;
    font-size: 27px;
    line-height: 32.68px;
    max-width: 250px;
    padding-bottom: 14px;
    gap: 10px;
    text-align: center;
  }
}
