.profile__add {
  padding: 0;
  border: none;
  background-image: url(/images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  width: 150px;
  height: 50px;
  border: solid 1px #FFFFFF;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 426px) and (max-width: 1024px) {
  .profile__add {
    grid-area: add;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .profile__add {
    grid-area: add;
    width: 282px;
  }
}

.profile__add:hover {
  opacity: 60%;
}
