.profile__plus {
  width: 22px;
  height: 22px;
  padding: 14px 64px 14px 64px;
}

@media (min-width: 320px) and (max-width: 425px) {
  .profile__plus {
    width: 16px;
    height: 16px;
    padding: 17px 132px 17px 134px;
  }
}
