.popup__close {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__close:hover {
  opacity: 60%;
}

@media (min-width: 320px) and (max-width: 425px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
