@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__heart/element__heart.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__text/_card/popup__text_card.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__exit/_img/popup__exit_img.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__exit/popup__exit.css);
@import url(./blocks/popup/__place/popup__place.css);
@import url(./blocks/element/__heart/_active/element__heart_active.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/popup/__container/_img/popup__container_img.css);
@import url(./blocks/popup/__link/popup__link.css);
@import url(./blocks/popup/__text/_error/popup__text_error.css);
@import url(./blocks/popup/__link/_error/popup__link_error.css);
@import url(./blocks/popup/__name/_error/popup__name_error.css);
@import url(./blocks/popup/__job/_error/popup__job_error.css);
@import url(./blocks/popup/__namecard/_error/popup__namecard_error.css);
@import url(./blocks/popup/__button/_inactive/popup__button_inactive.css);
@import url(./blocks/popup/__label/popup__label.css);
